<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @profile.user_id %></h1>
    <a href="<%= url_for :action => :show, :id => @profile.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @profile.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @profile.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="profile[user_id]" class="fieldLabel">User</label>
            <input type="text" id="profile[user_id]" name="profile[user_id]" value="<%= @profile.user_id %>" <%= placeholder( "User" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="profile[firstname]" class="fieldLabel">Firstname</label>
            <input type="text" id="profile[firstname]" name="profile[firstname]" value="<%= @profile.firstname %>" <%= placeholder( "Firstname" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="profile[lastname]" class="fieldLabel">Lastname</label>
            <input type="text" id="profile[lastname]" name="profile[lastname]" value="<%= @profile.lastname %>" <%= placeholder( "Lastname" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="profile[biography]" class="fieldLabel">Biography</label>
            <input type="text" id="profile[biography]" name="profile[biography]" value="<%= @profile.biography %>" <%= placeholder( "Biography" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="profile[avatar]" class="fieldLabel">Avatar</label>
            <input type="text" id="profile[avatar]" name="profile[avatar]" value="<%= @profile.avatar %>" <%= placeholder( "Avatar" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="profile[time_control]" class="fieldLabel">Time control</label>
            <input type="text" id="profile[time_control]" name="profile[time_control]" value="<%= @profile.time_control %>" <%= placeholder( "Time control" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
