<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @useranswer.object %>
    <h1>Edit <%= @useranswer.user_id%></h1>
    <%= link_to "Delete", :action => :delete, :id => @useranswer.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @useranswer.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">User: </td>
              <td class="itemValue"><input type="text" name="useranswer[user_id]" value="<%= @useranswer.user_id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Answer: </td>
              <td class="itemValue"><input type="text" name="useranswer[answer]" value="<%= @useranswer.answer %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Time control: </td>
              <td class="itemValue"><input type="text" name="useranswer[time_control]" value="<%= @useranswer.time_control %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
